* {
margin: auto;
box-sizing: border-box;
}

.password-form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 250px;
height: 250px;
border: 1px solid rgb(0, 0, 0);
border-radius: 8px;
background-color: rgb(35, 35, 35);
color: #ffff;
}
.input-wrapper {
position: relative;
width: 200px;
margin-top: 14px;
margin-left: 20px;
margin-right: 20px;
color: azure;
}

.input-wrapper input {
min-width: 120px;
padding: 10px;

}

.input-wrapper i {
position: absolute;
right: 25px;
top: 30px;
color: grey;
text-align: center;

}
.form-text {
    font-size: 12px;
}

.btn{
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border: 2px solid aqua;
    color: #ffff;
}

.btn:hover {
    background-color: aquamarine;
    color: #000;
}